<h1>Welcome</h1>
Use this page to link to your favorite (or least favorite!) album reviews and start a discussion about them!
<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
